/**
 * Created by dipiash on 06.09.2016.
 */

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -khtml-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

#playfield {
  position: absolute;
  top: 120px;
  left: 100px;
  width: 400px;
  height: 400px;
  background: white;
}

.back {
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #eee;
  border: 1px solid #ccc;
}

.thing {
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent;
  color: black;
  text-align: center;
  font: 36px/96px Arial;
  border: 1px solid #ccc;
}

.thing.t2 {
  background: #24df9c;
}

.thing.t2:after {
  content: '2'
}

.thing.t4 {
  background: #ffa992;
}

.thing.t4:after {
  content: '4'
}

.thing.t8 {
  background: rgba(3, 107, 255, 0.52);
}

.thing.t8:after {
  content: '8'
}

.thing.t16 {
  background: rgba(170, 0, 221, 0.55);
}

.thing.t16:after {
  content: '16'
}

.thing.t32 {
  background: rgba(174, 57, 0, 0.74);
}

.thing.t32:after {
  content: '32'
}

.thing.t64 {
  background: rgba(147, 18, 105, 0.69);
}

.thing.t64:after {
  content: '64'
}

.thing.t128 {
  background: rgba(255, 54, 62, 0.66);
}

.thing.t128:after {
  content: '128'
}

.thing.t256 {
  background: rgba(170, 221, 95, 0.74);
}

.thing.t256:after {
  content: '256'
}

.thing.t512 {
  background: #72dbdd;
}

.thing.t512:after {
  content: '512'
}

.thing.t1024 {
  background: #4bdd7b;
}

.thing.t1024:after {
  content: '1024'
}

.thing.t2048 {
  background: #eed211;
}

.thing.t2048:after {
  content: '2048'
}

.new-game {
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  background: #ccc;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background: #eee;
  }
}

.message {
  padding: 5px;

  &--success {
    color: #4661ee;
    font-size: 2em;
  }
}